*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

html {
  scroll-behavior: smooth;
}

body, html{
    overflow-x: hidden;
}
/*---------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------Bar de Navigation------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------------*/

nav{    /*Menu de navigation*/
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color: rgba(18, 20, 22, 0.3);
    width: 100%;
    z-index: 5;
    text-transform: uppercase;
}

.nav-links{/* nav-links est la classe qui met en place mes boutons de droite */
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li {
    list-style: none;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    margin-left: 20px;
    transition-property: border-top, border-bottom;
}

nav a:hover{
    transition-delay: 0.1s;
    transition-duration: 0.3s;
    border-top: 2px solid #7da794;
    border-bottom: 2px solid #7da794;
}

.burger {
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
}



.titre{/*titre de page*/
    font-size: 40px;
    color: white;
    width: 80%;
    padding-top: 120px;
    text-align: start;
    padding-bottom: 90px;
    z-index: 2;
}

/*------------------------------------------------------------------------------------------*/
/*--------------------------------------PAGE ACCUEIL----------------------------------------*/
/*------------------------------------------------------------------------------------------*/

#first_page{/*allure de ma premiere page*/
    background-image: url(https://image.freepik.com/photos-gratuite/vue-haut-table-bureau-blanche-ordinateur-portable-ordinateur-portable-telephone-portable-fleur-verte-accessoires-poser-plat-vue-dessus-espace-copie_152898-400.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#first_page section{/*Permet de centrer ma div principale avec téléchargement cv*/
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px 20px 40px;
    margin: 80px 0px 120px 0px;
    text-align: center;
    box-shadow: 1px 0px 39px 11px rgba(0,0,0,0.56);
}

#first_page section h1{
    margin-bottom: 20px;
    font-size: 45px;
    font-weight: normal;
}

#first_page section p{/*texte sous le titre "Bienvenue"*/
    font-size: 18px;
    margin-bottom: 40px;
    color: #4A4A4A;
    font-weight: bold;
    text-shadow: 0 0 10px #FFFFFF;
}
#first_page section a{/*Bouton "TELECHARGER MON CV"*/
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    background-color: #5E7459;
    padding: 20px 20px;
    border-radius: 50px;
    opacity: 50%;
    color: white;
    text-decoration: none;
    transition-property: opacity;
    transition-duration: 0.3s;
}

#first_page section a:hover{
    opacity: 70%;
}

.footer_page{
    width: 100%;
    background: linear-gradient(transparent, #2D3438);
    margin-top: -100px;
    height: 100px;
}
/*------------------------------------------------------------------------------------------*/
/*-------------------------------------CONTACT----------------------------------------------*/
/*------------------------------------------------------------------------------------------*/

#contact{/*Mise en place de la page, éléments centrés au centre*/
    background-color: #4E525B;
    box-shadow: inset 0px 15px 13px -4px rgba(45,52,56,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

::placeholder{/*gras du texte dans les input*/
    font-weight: bold;
}

form{/*section comprenant tous les input*/
    display: flex;
    flex-direction: column;
    width: 45%;
    flex-wrap: wrap;
}

.input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 10px;
}

#message{/*Met en place ma boxe message*/
    width: 100%;
    height: 200px;
    border-radius: 5px;
    padding-top: 5px;
    resize: none;
    padding-left: 5px;
}

#envoyer{/*Met en place ma boxe envoyer*/
    width: 200px;
    margin-top: 15px;
    border-radius: 25px;
    height: 40px;
    font-size: 20px;
    color: RGB(45,52,56);
    transition-property: box-shadow, font-size;
}

#envoyer:hover{
    transition-duration: 0.3s;
    box-shadow: 7px 7px 7px 0px rgba(119, 119, 119, 0.6);
    font-size: 22px;
}
/*------------------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER-----------------------------------------*/
/*------------------------------------------------------------------------------------------*/

footer{/*mise en place du footer*/
    background-color: #E4DDCD;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    width: 110%;
    margin-left: -30px;
    text-transform: uppercase;
    border-top: 5px solid #898D73;
    color: RGB(45,52,56);
}

footer span{
    color: #898D73;
    font-weight: bold;
    font-size: 18px;
}

footer a{
    text-decoration: none;
    text-transform: uppercase;
    color: RGB(45,52,56);
    transition-property: text-decoration;
}

footer a:hover{
    text-decoration: underline;
}
/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------MENTION LEGALES-------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
.mentions{/*Titre mentions legales*/
    background-color: black;
    font-size: 30px;
    color: white;
    margin: 50px;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 40px;


}
.concep{/*titre de conception*/
    color: #A12830;
    font-size: 30px;
    margin-left: 50px;
    text-align: center;
}
.info1{/*allignement texte*/
    font-family: Roboto Slab;
    font-size: 15px;
    margin: 50px;
    text-align: center;

}
.contenulitigieux{
    color: #A12830;
    font-size: 30px;
    margin-left: 50px;
    text-align: center;
}
.info2{
    font-family: Roboto Slab;
    font-size: 15px;
    margin: 50px;
    text-align: center;
}
.PropriétéIntelectuelle{
    color: #A12830;
    font-size: 30px;
    margin-left: 50px;
    text-align: center; 
}
.info3{
    font-family: Roboto Slab;
    font-size: 15px;
    margin: 50px;
    text-align: center;
}
/*------------------------------------------------------------------------------------------*/
/*-------------------------------------Avis-------------------------------------------------*/
/*------------------------------------------------------------------------------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

center{
    background-color: #272b36;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}
.espacecom{/*Titre mentions legales*/
    background-color: black;
    font-size: 30px;
    color: white;
    margin: -100px;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 40px;
}
.textecom{/*allignement texte*/
    font-family: Roboto Slab;
    font-size: 15px;
    margin: 150px;
    text-align: center;
    margin-bottom: 30px;

}
/*-----------------------------------------------------------------------------------------------*/
/*-------------------------------------Projet----------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
#portfolio{/*Mise en place de la partie de page portfolio */
    background-image: url(https://www.iim.fr/ecole-web/wp-content/uploads/2017/10/webdesign-1350x880.jpg);
    background-size: cover;
    box-shadow: inset 0px 15px 13px -4px rgba(45,52,56,1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projet img{
    width: auto;
    height: 200px;
}

.projet article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.3);
}

.projet article a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    background-color: #7da794;
    border: 2px solid white;
    border-radius: 5px;
    transition-property: color, background-color, border;
}

.projet article a:hover{
    transition-duration: 0.3s;
    color: #7da794;
    background-color: white;
    border: 2px solid #7da794;
}

.boutons{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: space-between;
    width: 20%;
    margin: 10px 15px;
}

#containeur{
    width: 90%;
}

.projet{/*Mise en place des div "projet" */
    margin-bottom: 40px;
    display: flex;
    width: 80%;
    box-shadow: 12px 13px 14px -1px rgba(0,0,0,0.57);
}

.projet p{/*mise en place de la description des projets*/
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: justify;
}
.action-button {
    padding: 10px 40px;
    float: left;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.action-button:active {
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    border-bottom: 1px solid;
}
/*------------------------------------------------------------------------------------------*/
/*-------------------------------------Cookies----------------------------------------------*/
/*------------------------------------------------------------------------------------------*/


* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

p {
  margin: 24px 0;
  line-height: 2;
}

.wrapper {
  padding: 32px;
}

.cookie-container {
  position: fixed;
  bottom: -100%;
  left: 0;
  right: 0;
  background: #2f3640;
  color: #f5f6fa;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);

  transition: 400ms;
}

.cookie-container.active {
  bottom: 0;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  background: #e84118;
  border: 0;
  color: #f5f6fa;
  padding: 12px 48px;
  font-size: 18px;
  margin-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}
/*------------------------------------------------------------------------------------------*/
/*-------------------------------------Cahier des charges-----------------------------------*/
/*------------------------------------------------------------------------------------------*/
.cahier_des_charges{/*Mise en place des div */
    margin-bottom: 40px;
    display: flex;
    width: 80%;
    box-shadow: 12px 13px 14px -1px rgba(0,0,0,0.57);
}

.cahier_des_charges p{/*mise en place de la description des projets*/
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    text-align: justify;
}
.tcharge{
    text-align: center;
}
#ccharges{
    color: #272b36;
    background-color: #272b36; 
}

/*------------------------------------------------------------------------------------------*/
/*-------------------------------------RESPONSIVE-------------------------------------------*/
/*------------------------------------------------------------------------------------------*/

@media screen and (max-width: 960px){
    body {
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgba(18, 20, 22, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li{
        opacity: 0;
    }
    
    .burger{
        display: block;
        cursor: pointer;
    }

}

.nav-active {   /*Quand le menu burger est actif*/
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}


@media screen and (max-width: 768px){
    #first_page section{
        width: 90%;
    }
    #first_page section p{
        font-size: 12px;
    }
    #first_page section h1{
        font-size: 18px;
    }
    #first_page section a{
        padding: 3px;
        font-size: 12px;
    }
    .fa-download{
        font-size: 22px;
    }
    #portfolio{
        height: auto;
    }
    #banner{
        transform: none;
        width: 100%;
    }
}


@media screen and (max-width: 1024px){
    .projet{
        flex-wrap: wrap;
        box-shadow: none;
    }
    form{
        width: 80%;
    }
}

